{% load static %}
<nav class="nav-bar">
  <div class="header-container fixed-width">
    <div class="logo">MUSICLOUD</div>
    <div class="header-menu" id="headerMenu">
      <a href="{% url 'home' %}" class="menu-link active">Now Playing</a>
      <a href="{% url 'explore-stations' %}" class="menu-link"
        >Explore Stations</a
      >
      <a href="{% url 'my-stations' %}" class="menu-link">My Stations</a>
    </div>

    <div class="right-menu">
      <div class="relative">
        <input type="search" placeholder="Artist or Genre" class="search" />
      </div>
      <i class="fas fa-bars text-white text-2xl" id="menuToggle"></i>
    </div>
  </div>
</nav>
<div class="hamburger" id="hamburgerMenu">
  {% if user.is_authenticated %}
  <!-- Show Profile and Logout if the user is logged in -->
  <a href="{% url 'dashboard' %}">Profile</a>
  <a href="{% url 'logout' %}">Logout</a>
  {% else %}
  <!-- Show SignUp and Login if the user is not logged in -->
  <a href="{% url 'signup' %}">Sign Up</a>
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
</div>

<script>
  const toggle = document.getElementById("menuToggle");
  const menu = document.getElementById("hamburgerMenu");

  toggle.addEventListener("click", () => {
    menu.classList.toggle("active");
  });
</script>
